form{
  margin-left: 10vw;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
}
form input:first-child:hover{
  border: 3px dashed black;
}
form input:first-child{
  width: 15vw;
  height: 30px;
  background-color: #ebf0b7;
  font-weight: 800;
  border: 2px solid black;
}
form input:nth-child(2){
  padding-left: 30px;
  width: 5vw;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
}
form button{
  width: 5vw;
  height: 30px;
  background-color: #ebf0b7;
  border: 2px solid rgb(0, 0, 0);
}
form button:hover{
  border: 2px dashed rgb(0, 0, 0);
}
